<Files ".htaccess">
Require all denied
</Files>

RewriteEngine on
RewriteCond %{HTTP_HOST} ^18osfr.ssis.nu/GYProjekt/$ [NC]
RewriteRule ^(.*)$ https://18osfr.ssis.nu/GYProjekt/public_html/index.php$1 [R=301,L,NE]