#wrapper-content
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 8fr 1fr;
    position: fixed;
    top: 3.8rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#wrapper-content > *
{
    border: 1px solid lightslategray;
}

#category_wrapper
{
    grid-column: 1/2;
    grid-row: 1/2;
    overflow-y: auto;

}

#category_wrapper > *:not(:last-child)
{
    border-bottom: 2px solid black;
}

#category_wrapper > *
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr fit-content;
    transition-duration: 0.25s;
    word-wrap: break-word;
    min-height: 2rem;
    align-items: center;
}

#category_wrapper > *:hover
{
    background-color: rgba(120, 120, 120, 1);
    transition-duration: 0.25s;
}

#category_wrapper > * > *
{
    grid-row: 1/2;
    min-height: 2rem;
}

#category_wrapper > * > .EditPanel
{
    justify-self: end;
}

#category_wrapper > * > a
{
    color: black;
}

#category_wrapper > *.active > a
{
    color: white;
}

#content_wrapper
{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
}
