.category_menu[data-menuisopen="false"]
{
    display: none!important;
}

#wrapper-content
{
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: 8fr 1fr;
    position: fixed;
    top: 3.8rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#category_wrapper
{
    grid-column: 1/2;
    grid-row: 1/2;
    overflow-y: auto;
    border-right: 1px solid black;
    border-radius: 0px;
}

#category_wrapper > *:not(:last-child)
{
    border-bottom: 2px solid black;
}

#category_wrapper > *
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr fit-content;
    transition-duration: 0.25s;
    word-wrap: break-word;
    min-height: 2rem;
    align-items: center;
}

#category_wrapper > *:hover
{
    background-color: rgb(216, 216, 216);
    transition-duration: 0.25s;
}

#category_wrapper > * > *
{
    grid-row: 1/2;
    min-height: 2rem;
}

#category_wrapper > * > .EditPanel
{
    justify-self: end;
}

#category_wrapper > * > a
{
    color: black;
}

#category_wrapper > *.active > a
{
    color: white;
}

#content_wrapper
{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

#edit_wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    border-right: 1px solid black;
}

#bottom_wrapper
{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
    overflow-x: hidden;
}

#AddRecepieBtn
{
    display: grid;
}

#AddRecepieBtn > *
{
    text-align: center;
    align-self: center;
    margin: 0;
}

.recipeRow > *
{
    text-decoration: none!important;
    display: grid;
    grid-template-rows: minmax(120px, auto);
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
}

.recipeRow
{
    transition-duration: 0.25s;
}

.recipeRow:hover
{
    background-color: rgb(216, 216, 216);
    transition-duration: 0.25s;
    border: solid gray 2px;
}
