.navbar
{
    background-color: var(--Main-color);
}


.navbar .nav-item [navType="normal"]
{
    margin: 0px 25px;
}

.dropdown-toggle::after
{
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after
{
    transform: translateY(3px);
}


.dropdown-menu
{
    margin-top: 0;
}

.nav-item [activePage]
{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: 0.15s;
}

.nav-item:hover
{
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    border-radius: 5px;
    transition: 0.15s;
}

.nav-item:hover > *
{
    color: #fff !important;
}

.nav-item
{
    transition: 0.15s;
}